* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
body {
    color: white;
    height: 100svh;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    flex-grow: 1;
    width: 100%;
    display: flex;
}
main > div {
    background-image: url(./images/laptop.jpg);
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}
form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 720px;
    flex-flow: row wrap;
    padding: 72px;
    gap: 24px;
}
div:has(>input){
    display: flex;
    flex-direction: column-reverse;
}
form > div > label {
    font-size: 16px;
    padding-bottom: 8px;
    display: none;
}
input {
    color: black;
    padding: 0 8px;
    font-size: 20px;
    border-radius: 6px;
}
input:invalid+label {
    color: lightcoral;
}
input:valid+label {
    color:lightgreen;
}
div>span , span+button {
    font-size:16px;
}
span+button {
    border: none;
    color: lightskyblue;
}
button {
    background-color: transparent;
    font-size: inherit;
    font-size: 20px;
    padding: 8px;
    border-radius: 6px;
}
footer {
    font-size: 16px;
    color: white;
    padding-bottom: 1vh;
}
@media(max-width: 576px){
    main{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1146px) {
    main > form {
        flex-direction: column;
    }
}